<div id="recipe-header">
  <h2 class="name-of-recipe">
    <a
      class="recipe-source"
      href={{recipe.sourceUrl}}
      target="_blank">
      {{recipe.name}}
    </a>
  </h2>
</div>
<div class="container-fluid">
  <div id="recipe-holder" class="row">
    <div class="recipe-time panel-body">
      Ready in {{displayTime}}
    </div>
    <div class="ingredients-container col-md-6">
      <ul>
        <span class="ingredients-span">Ingredients</span>
        <hr>
        {{#each ingredientsArray as |ingredient|}}
          <li class="recipe-ingredients">{{ingredient}}</li>
          <hr>
        {{/each}}
      </ul>
    </div>
    <div class="recipe-picture col-md-5">
      <img class="recipe-img" src={{recipe.largeImgUrl}}>
    </div>

    <div class="recipe-notes">
      {{#each notes as |note|}}
      <li class="notes">{{note.text}}</li>
      <hr>
      {{/each}}
    </div>
    {{#if isWritingNote}}
      {{textarea
        value=newNoteText
      }}
    {{else}}
      <button class="add-note-button btn btn-primary col-sm-5">Add new Note</button>
    {{/if}}
  </div>
</div>