<div class="signup-background">
  <div class="signup-container">
    <div class="why-login">Sign Up<br>
      <div class="signup-link">
        <%=link_to "Already have an account? Log in!", :controller => :sessions, :action => :new, :class => "signup-link" %>
      </div>
    </div> <br>

    <div class="signup-form form-horizontal">
      <%=form_for @user do |f| %>
        <div class="email-field">
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="password-field">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>

        <div class="password-field">
          <%= f.password_field :password, class: "form-control", placeholder: "Confirm Password" %>
        </div>
        <%= f.submit "Sign Up", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
