<div class="input-group input-group-lg search-form">
  {{input
    class="search form-control"
    value=searchText
    autofocus="autofocus"
    action="searchRecipes"
    placeholder="Search for Recipes"
  }}
  <button class="submit-search btn btn-default"
   {{action "searchRecipes"}}>
    Search!
  </button>
  <div class="recipe-time-chooser-container">
    Maximum preparation and cooking time
    {{ui-slider
      value=timeSliderValue
      min=1
      max=10
      step=1
      tooltip='hide'
      immediateResponse=true
      changed="maxTimeChanged"
    }}

    <span class="formatted-recipe-time">
      {{formattedMaxRecipeTime}}
    </span>

  </div>
</div>

{{#if isLoading}}

  <div>{{spinkit-spinner}}</div>

{{else}}

  {{#if isRecipesEmpty}}
    <h1 class='no-results'>
      No recipes found
    </h1>
  {{else}}
    <div class="recipes-container row">
      {{#each recipes as |recipe|}}
        {{recipe-tile
          addToFavorites="addToFavorites"
          removeFromFavorites="removeFromFavorites"
          recipe=recipe
          faves=favoritedRecipes
          favoritesPage=false
        }}
      {{/each}}
    </div>

    <div class='pager-container row'>
      {{pagination-pager
        current=currentPage
        count=numPages
        change="pageNumChanged"
      }}
    </div>

  {{/if}}

{{/if}}