<!DOCTYPE html>
<html>
<head>
  <title>CookBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user.nil? %>
    <div class="header page-header">
      <ul class="nav-btn-container nav navbar nav-pills">
        <li class="btn">
          <h4 class="app-name">
            Cook.bk
          </h4>
        </li>

        <li class="btn">
          <%= link_to "Sign up", "/users/new" %>
        </li>
        <li class="btn">
          <%= link_to "Log in", "/sessions/new" %>
        </li>
      </ul>

    </div>
  <% end %>
<%= yield %>

</body>
</html>
