<!DOCTYPE html>
<html>
<head>
  <title>CookBook</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <div class="signout-container nav nav-pills">
      <%= link_to "Sign Out", "/sessions", :method => :delete, :class => "signout-button btn" %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
